/* Navbar */
.navbar-brand{
  font-size: 2rem;
}
.navbar-nav{
  font-size: 1.5;
  font-weight: 500;
}

/* Layout */
#home{
  height: 100vh;
}
#about-me{
  height: 100vh;
}

#services{
  height: 100vh;
}

#projects{
  height: 100vh;
}

#contact-me{
  height: 50vh;
}