body{
  background-color: #111;
  color: white;
}
.btn{
  background-color: #0f0;
  font-weight: 500;
  letter-spacing: 1.35px;
  color: white;
  box-sizing: border-box;
}
.btn:hover{
  background-color: #333 ;
  color: #0f0;
  border: 1.5px solid #0f0;
}
/* Navbar */
.navbar-brand{
  font-size: 2rem;
  color: #0f0 !important;
  padding-left: 7%;
}
.navbar-nav{
  font-size: 1.5;
  font-weight: 500;
}

.nav-link{
  color: white !important;
}

.nav-link:hover{
  color: #0f0 !important;
  border-bottom: 1.5px solid #0f0;

}
.navbar-nav{
  padding-right: 200px !important;
}
.nav-item{
  padding-right: 60px !important;
}


/* Hero Content */
.hero-content{
  /* border: 2px solid black; */
  position: relative;
  top: 30vh;
  left: -7vw;
}

.hero-content h1{
  font-size: 5rem;
}
.hero-content h5{
  font-size: 1.5rem;
}
.hero-content span{
  color: #0f0;
}
.hero-content .btn{
  margin-top: 25px;
  width: 13rem;
  height: 3.5rem;
}


.hero-image img{
  box-sizing: border-box;
  position: relative;
  top: 200px;

  height: auto;
  max-width: 100%;
}

/* About me */
.about-me-title{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50vh;
  right: 10vw;
}
.about-me-title h2{
    font-size: 3.5rem;
}
.about-me-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 30vh;
}
.about-me-info p{
  font-size: 1.45rem;
}
.about-me-info .btn{
  margin-top: 25px;
  margin-right: 50px;
  width: auto;

}
/* Tools */
#tools{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tools-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tools .row{
  margin-top: 10vh ;
}
.fab{
  cursor: pointer;
}

/* Layout */
.container{
  height: 100vh;
  box-sizing: border-box;

}
#home .row{
  box-sizing: border-box;
  /* border: 2px solid black; */
}
