* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #54595f;
  color: white;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.about-me-overlay {
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 50%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}
/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 8vh;
  align-items: center;
  position: fixed;
}
.navbar-brand a {
  font-size: 4.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #feb633;
  padding: 2vh 2vw;
}
.navbar-items ul {
  height: 5vh;
  width: 50vw;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 2vh 2vw;
  align-items: center;
}
.navbar-items a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.navbar-items li a:hover {
  color: #feb633;

  border-bottom: 2px solid #feb633;
  transition: 0.6s;
}
/* Navbar end */

/* Hero Section */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  width: 50vw;
}

.hero-content {
  box-sizing: border-box;
  width: 50vw;
  height: 50vh;
  line-height: 2;
  font-size: 3rem;
  padding-top: 30vh;
  padding-left: 8vw;
}
.hero-image {
  box-sizing: border-box;
  width: 50vw;
  height: 50vh;
  padding-top: 10vh;
  padding-left: 8vw;
}
.hero-content span {
  color: #feb633;
}
.hero-content button {
  border-radius: 5px;
  height: 75px;
  width: 300px;
  background-color: #feb633;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}

.hero-content button:hover {
  background-color: #54595f;
  border: 2px solid #feb633;
  color: black;
  transition: 1s;
}
/* Hero Section End */

/* About me section */

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.about-me-title {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.about-me-info {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.35rem;
  line-height: 1.6;

  padding: 0 50px;
}

.buttons {
  display: flex;
}
.buttons button {
  margin-top: 6vh;
  margin-right: 5vw;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  background-color: #feb633;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #54595f;
  border: 2px solid #feb633;
  color: black;
  transition: 1s;
}
/* About me section end */

/* Card Section Start */
#services {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 8vh;
  align-items: center;
}
.services-hero {
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  width: 50vw;
}
.services-hero h2 {
  letter-spacing: 2px;
  font-size: 4rem;
}
.services-hero span {
  font-size: 1.5rem;
}
.services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 35px;
  width: 35vw;
  height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  background: linear-gradient(
    -48deg,
    rgb(36, 226, 254) 0%,
    rgb(36, 176, 254) 54%,
    rgb(35, 126, 253) 100%
  );
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.035);
  transition: 1s;
}

/* Card section end */

/* Projects Section */
#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.projects-container {
  display: flex;
  height: 35vh;
  width: 35vw;
  margin: auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.projects-container:hover {
  /* Hidden by default */
  width: 45%; /* Full width (cover the whole page) */
  height: 45%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2;
  color: black;
  transition: 1.25s;
}
.image-1 {
  background-image: url("./img/bankist-full-site-web.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-2 {
  background-image: url("./img/museum-of-candy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}
/* Projects section end */

/* Contact form */
#contact-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}
.contact-form form input {
  height: 2vh;
  width: 30vw;
}
/* Contact form end */
